<header class="flex justify-content-between flex-wrap px-4 pb-0">
    <!-- Logo -->
    <div class="flex">
      <!-- <img src="assets/logo.png" alt="Logo" class="header-logo" /> -->
      <h2 class="ml-2">All In One</h2>
    </div>
  
    <!-- Menu -->
    <div class="flex align-content-center" *ngIf="user$ | async as user ; else guest">
      <!-- Avatar with Menu -->
      <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
      <app-avatar
        [photoUrl]="user?.photoURL || null"
        [fullName]="user?.displayName"
        class="cursor-pointer align-content-center"
        (click)="menu.toggle($event)"
      ></app-avatar>
    </div>
  
    <ng-template #guest> 
      <app-button label="Sign In" class="align-content-center"  [rounded]="true" (click)="signInWithGoogle()"></app-button>
    </ng-template>
  </header>
  