<div class="grid grid-nogutter surface-section text-800">
  <!-- Left Section: Feature Description -->
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
      <section>
          <!-- Title and Feature Headline -->
          <span class="block text-6xl font-bold mb-1">Create Your Own</span>
          <div class="text-6xl text-primary font-bold mb-3">Blog & Catalog with Hosting</div>
          
          <!-- Description Text -->
          <p class="mt-0 mb-4 text-700 line-height-3">
            Build and host your blog and catalog for free with our seamless platform. Showcase your products and share insightful content with ease, all in one place.
          </p>
          
          <!-- Call to Action Buttons -->
          <app-button label="Learn More" class="mr-3 p-button-raised"></app-button>
          <app-button label="Get Started" class="p-button-outlined"></app-button>
      </section>
  </div>

  <!-- Right Section: Image Placeholder -->
  <div class="col-12 md:col-6 overflow-hidden">
      <img src="../../../../../assets/landing-page.png" alt="Product Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>