/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #007ad9;
  --primary-light-color: #39b3f6;
  --surface-100: #f8f9fa;
  --surface-200: #e9ecef;
  --text-color: #212529;
  --text-secondary-color: #6c757d;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
